body {
  background-color: white;
}

/* Custom CSS - hide the "Netlogo Code" button */
.netlogo-code-tab {
  display: none;
}

#output {
  overflow: auto;
}

.netlogo-model {
  padding: 5px !important;
}
